.gpt3__cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 2rem;
    margin: 4rem;
    border-radius: 1rem;
    background: var(--gradient-bar)
}

.gpt3__cta h3{
    font-family: var(--font-family);
    font-weight: 800px;
    font-size: 24px;
    line-height: 45px;
}

.gpt3__cta p {
    font-family: var(--font-family);
    font-weight: 500px;
    font-size: 12px;
    line-height: 30px;
    color: #0E0E0E;
}

.gpt3__cta-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.gpt3__cta-button button {
    border-radius: 40px;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    background: #000000;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    width: 150px;
}
